{
  "proxy": {
    "listen": "0.0.0.0:12348",
    "encrypt": false,
    "decrypt": true,
    "key": "GIF34US6WlaL4Ayx",
    "upstream": {
      "name": "",
      "url": "10.42.0.1:12348",
      "encrypt": true,
      "decrypt": false,
      "key": "GIF34US6WlaL4Ayx"
    }
  }

}